<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" />
    {% block stylesheets %}{% endblock %} {% block javascripts %}{% endblock %}
  </head>
  <body class="bg-dark text-light text-center">
    <header>
      <nav class="navbar navbar-expand-sm navbar-dark bg-secondary">
        <div class="navbar-brand" href="#">Navbar</div>
        <div class="navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            {% for link in links %}
            <a
              class="nav-item nav-link {{ app.request.pathinfo is same as(link.route) ? 'active' : '' }}
            "
              href="{{ link.route }}"
              >{{ link.name }}</a
            >
            {% endfor %}
          </div>
        </div>
      </nav>
    </header>
    {% block content %}{% endblock %}
    <footer></footer>
  </body>
</html>
