{% extends "base.html.twig" %}

{% block content %}

<table>
    <thead>
        <tr>
       <th>id</th>
       <th>symbole</th>
       <th>définition</th>
       <th>lien</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            {% for service in allUnits %}
            <tr> 
                <td>{{ service.id }}</td>
                <td>{{ service.symbol }}</td>
                <td>{{ service.definition }}</td>
                <td><a target="_blank" href="{{service.source.url}}">cliquez ici</a></td>
            </tr>
           
            {% endfor %}
        </tr> 
    </tbody>
</table>
{% endblock %}


