{% extends "base.html.twig" %}

{% block content %}
    <table><thead>
    <tr>
        <th>ID</th>
        <th>Symbole</th>
        <th>Définition</th>
    <tr/>
    </thead>
    <tbody>
    <tr>
        <td>01</td>
        <td>toto</td>
        <td>le toto est une unité de mesure d'intelligence</td>

    </tr>
    </tbody>
     </table>
{% endblock %}


variable allUnit = tableau avec info requete